h1 {
  @include font(headline);
  margin: 0;
}

h2 {
  @include font(subline);
  text-decoration: underline;
}

p {
  @include font(text);
}

strong {
  @include font(text-bold);
}

.rendered-content {

  &--onBlack {
    --black: #ffffff;
    --white: #000000;
  }

  h2 {
    margin: var(--containerSpacingHeight) var(--contentSpacingWidth) var(--contentSpacingHeight) var(--contentSpacingWidth);
  }

  h2 + p {
    margin-top: var(--contentSpacingHeight);
  }

  p {
    padding: 0 var(--textSpacingWidth);
    margin: var(--containerSpacingHeight) 0;

    a {
      text-decoration: underline;
    }
  }

  // Video Player
  .wp-block-embed-youtube {
    position: relative;
    padding: var(--containerSpacingHeight) var(--contentSpacingWidth);
    margin: 0;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 100%;
      left: calc(var(--outerArea) * -1);
      transform: translateY(calc(var(--containerSpacingHeight) * -1));
      background-color: var(--black);
      z-index: -1;
      box-sizing: none;
    }

    .wp-block-embed__wrapper {
      position: relative;
      border: 2px solid var(--white);
      margin: 0;

      &::after {
        content: '';
        position: absolute;
        display: block;
        top: 2px;
        left: -6px;
        height: 100%;
        width: 100%;
        border: 2px solid var(--white);
        z-index: -1;
      }
    }

    iframe {
      width: 100%;
      height: auto;
      margin: 0;
      vertical-align: middle;

      @include breakpoint('medium') {
        height: 520px;
      }
    }
  }

  // Embed Spotify
  .wp-block-embed-spotify {
    position: relative;
    padding: var(--containerSpacingHeight) var(--contentSpacingWidth);
    margin: 0;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 100%;
      left: calc(var(--outerArea) * -1);
      transform: translateY(calc(var(--containerSpacingHeight) * -1));
      background-color: var(--black);
      z-index: -1;
      box-sizing: none;
    }

    .wp-block-embed__wrapper {
      position: relative;
      border: 2px solid var(--white);
      margin: 0;

      &::after {
        content: '';
        position: absolute;
        display: block;
        top: 2px;
        left: -6px;
        height: 100%;
        width: 100%;
        border: 2px solid var(--white);
        z-index: -1;
      }
    }

    iframe {
      width: 100%;
      margin: 0;
      vertical-align: middle;
    }
  }

  .custom-file-block {
    position: relative;
    padding: 0 var(--textSpacingWidth);
    margin: 0;
    height: 100%;

    + .custom-file-block {
      margin-top: -2px;
    }

    .wp-block-file {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      min-height: calc(75px + var(--textSpacingHeight) * 2);
      margin: 0;
      padding: var(--textSpacingHeight) 20px var(--textSpacingHeight) 100px; 
      border-top: 2px solid var(--black);
      border-bottom: 2px solid var(--black);

      @include breakpoint('medium') {
        padding: var(--textSpacingHeight) 20px var(--textSpacingHeight) 120px;
      }

      &:before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 50px;
        left: var(--textSpacingWidth);
        margin-left: 20px;
        background: url('../symbols/document.svg') no-repeat;
        background-position: top;
        background-size: contain;

        @include breakpoint('medium') {
          margin-left: 40px;
        }
      }

      a:first-child {
        margin: 0;
      }

      .wp-block-file__button {
        @include font(subline);
        text-transform: unset;
        background-color: var(--black);
        color: var(--white);
        line-height: 22px;
        padding: 0 20px 0 15px;
        border-radius: 30px;

        &:before {
          content: '\2193';
          margin-right: 5px;
        }
      }
    }
  }

  // WP Image
  .custom-image-block {
    position: relative;
    padding: var(--containerSpacingHeight) var(--contentSpacingWidth);
    margin: 0;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 100%;
      left: calc(var(--outerArea) * -1);
      transform: translateY(calc(var(--containerSpacingHeight) * -1));
      background-color: var(--black);
      z-index: -1;
      box-sizing: none;
    }

    .custom-image-frame {
      margin: 0;

      .wp-block-image {
        margin: 0;
        @include frame('bl', 'white', 'black');
        
        figcaption {
          display: none;
        }
      }
    }

    figcaption {
      @include font('caption');
      color: var(--white);
      margin: 0;
      transform: translateY(20px);
    }

    img {
      position: relative;
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
  }

  ul {
    position: relative;
    padding: 0 0 20px 40px;
    margin: var(--containerSpacingHeight) var(--textSpacingWidth);
    border: 2px solid var(--black);
    background-color: var(--white);

    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 2px;
      left: 2px;
      height: 100%;
      width: 100%;
      border: 2px solid var(--black);
      z-index: -1;
    }

    li {
      &::marker {
        content: '\2192' + '  ';
        display: inline-block;
        margin-right: 10px;
        @include font(text-bold);
      }
    }
  }

  * {
    margin-top: 20px;
  }

  &--tight {
    p {
      margin: var(--textSpacingHeight) 0;
    }
  }
  
}

.not-indented {
  *, p {
    padding-left: 0;
    padding-right: 0;
  }
}