// layout.scsss

.base-grid {
  display: grid;
  grid-template-columns: var(--outerArea) 75px 1fr 1fr 75px var(--outerArea);
  grid-template-rows: auto;
}

.full {
  grid-column-start: 1;
  grid-column-end: 7;
}

.content {
  grid-column-start: 2;
  grid-column-end: 6;
}

.half {
  &--left {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  &--right {
    grid-column-start: 4;
    grid-column-end: 6;
  }
}

.medium {
  &-full {
    @include breakpoint('medium') {
      grid-column-start: 1;
      grid-column-end: 7;
    }
  }

  &-content {
    @include breakpoint('medium') {
      grid-column-start: 2;
      grid-column-end: 6;
    }
  }

  &-left {
    @include breakpoint('medium') {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }
  
  &-right {
    @include breakpoint('medium') {
      grid-column-start: 4;
      grid-column-end: 6;
    }
  }

  &-left-border {
    @include breakpoint('medium') {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  &-right-border {
    @include breakpoint('medium') {
      grid-column-start: 4;
      grid-column-end: 7;
    }
  }
}

.large {
  &-full {
    @include breakpoint('large') {
      grid-column-start: 1;
      grid-column-end: 7;
    }
  }

  &-content {
    @include breakpoint('large') {
      grid-column-start: 2;
      grid-column-end: 6;
    }
  }

  &-left {
    @include breakpoint('large') {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }
  
  &-right {
    @include breakpoint('large') {
      grid-column-start: 4;
      grid-column-end: 6;
    }
  }
}

