// Layout
:root {
  --outerArea: 15px;

  --paddingSmall: 40px;

  --contentSpacingWidth: 40px;
  --contentSpacingHeight: 40px;

  --textSpacingWidth: 40px;
  --textSpacingHeight: 40px;

  --containerSpacingWidth: 80px;
  --containerSpacingHeight: 80px;

  --contentMaxWidth: 1280px;

// Appearance
  --black: #000000;
  --white: #ffffff;

  @include breakpoint('medium') {
    --outerArea: 190px;
    --contentSpacingWidth: 75px;
    --textSpacingWidth: 75px;
  }

  @include breakpoint('large') {
    --textSpacingWidth: 150px;
  }
}

$mainMenuHeight: 50px;